<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Presentacion del Grupo</title>
    <link rel="stylesheet" href="/grupo12/css/1presentacion.css">
</head>
<body>
    <header>
        <!-- Botones de navegación -->
        <nav>
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="DescripcionProyecto">Proyecto</a></li>
                <li><a href="Requerimientos">Historias de Usuario</a></li>
            </ul>
        </nav>
        <h1>Wiki Desarrollo WEB</h1>
        <p>Un espacio para compartir conocimiento</p>
    </header>
    
    <h2>Presentacion del grupo</h2>
    <div class="group">
        <div class="person">
            <img src="/grupo12/img/fotoJuanP.jpg" alt="Juan Diego Palacios Toledo">
            <h2>Juan Diego Palacios Toledo</h2>
            <p>Lider Tecnico: Estudiante de Ingenieria de sistemas, experiencia basica en frontend y backend, desarrolo Móvil, lenguajes aprendidos java, C++, C, C#, Ruby, JavaScript, Python, SQL(oracle, MySQL), Kotlin</p>
        </div>
        <div class="person">
            <img src="/grupo12/img/fotoJair.jpg" alt="Jairo Andres Sierra Combariza">
            <h2>Jairo Andres Sierra Combariza</h2>
            <p>Líder de pruebas: Estudiante de Ingenieria de sistemas, experiencia basica en frontend y desarrollo movil, lenguajes aprendidos java, C++, Python</p>
        </div>
        <div class="person">
            <img src="/grupo12/img/fotoJua.jpg" alt="Juan Diego Cordoba Fernandez">
            <h2>Juan Diego Cordoba Fernandez</h2>
            <p>Líder de planeacion: Ingeniero de sistemas, experiencia basica en frontend, lenguajes aprendidos java, C++, Python</p>
        </div>
        <div class="person">
            <img src="/grupo12/img/fotoPerf.jpg" alt="Nicolás Alberto Reyes Díaz">
            <h2>Nicolás Alberto Reyes Díaz</h2>
            <p>Líder de calidad: Estudiante de Ingenieria de sistemas, experiencia en desarrollo móvil, manejo de BDD, front y back end. Lenguajes: java, C++, Python, sql</p>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Wiki Desarrollo WEB. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
